/* mobile-screen */

/* -----header-section------- */

@media screen and (max-width:688px) {
    .master {
        flex-direction: column;
        margin-top: 20px;
        border-radius: 20px;
    }

    .master-text {
        text-align: center;
    }

    .master-text h1 {
        font-size: 1.5em;
        line-height: 35px;
    }

    .master-text p {
        font-size: 10px;
        line-height: 15px;
    }

    .master-image {
        height: 45%;
    }

    .master-image img {
        object-fit: 100%;
    }

    .master-text button {
        font-size: 0.8em;
        padding: 8px 15px;
        border-radius: 8px;
        margin-bottom: 20PX;
    }

    /*------ left-nab-slc---- */

    .transfer-card {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
        row-gap: 15px;

    }

    main {
        flex-direction: column;
        margin: 0px auto;
    }

    aside {
        background-color: rgb(255, 251, 255);
        margin: 0 auto;
    }

    .left-nav-slc {
        align-items: center;
        justify-content: space-evenly;
    }

    .left-nav-slc li {
        border: 0.50px solid #3f4140;
        width: auto;
        background-color: rgba(198, 222, 233, 0.863);

    }

    /* -----right-side-transfer-section----- */

    .trn-image {
        height: 60%;
    }

    .trn-image img {
        object-fit: cover;

    }

    .trn-inner-div {

        width: 70%;
        margin: 0px auto
    }

    .view-button {
        display: none;
    }

    /* ----footer-section----- */

    footer {
        margin-top: 50px;

    }

    .footer-head h1 {
        margin: 25px 0px;
        font-size: 2em;
    }

    .footer-cls {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .footer-cls-p {
        margin-bottom: 15px;
    }

    .communication {
        width: 90%;
    }

    .communication img {
        width: 30px;
    }

    .match-card {
        grid-template-columns: repeat(1, 1fr);
    }


}

/*----- tab-screen------- */


/*------ header-section----- */
@media screen and (min-width:688px) and (max-width:992px) {

    .master-text {
        width: 60%;
        transition: transform 1s ease-in-out;

    }

    .master-text:hover {
        transform: scale(95%);
    }

    .master-text h1 {
        font-size: 3.2em;
        font-weight: 700;
        line-height: 70px;
    }

    main {
        flex-direction: column;
    }

    .master-image {
        width: 50%;
        height: 100%;
        transition: transform 2s ease-in-out;

    }

    .master-image:hover {
        transform: scale(80%)
    }


    .master-image img {
        width: 105%;
        height: 106%;

    }






    /* object-fit: contain; */
}

/* ----left-nab-slc--- */

aside {
    width: 100%;
    height: 150px;
    background-color: #fff;
}

.left-slc {
    width: 100%;
}

.left-nav-slc {
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.left-nav-slc li {
    margin: 15px;
    border: 1px solid #E8E8E8;
}


/* ----right-side-transfer-section.... */

.transfer-card {
    grid-template-columns: repeat(2, 1fr);
}

.trn-div {
    height: 400px;
}

.trn-div img {
    object-fit: cover;
}

.view-button button {
    display: block;
}

/* ----footer-section------ */

.footer-sec {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.footer-cls-p {
    width: 88%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-cls-p li {
    margin-right: 5px;
}